@import "tailwindcss";

@theme {
  
  --color-Green: #1c2529;
  --color-Plum: #331e38;
--color-Begin  : 			#666666 ;

--color-random : #f3e9d2  ;

--color-White :	#fef6e4;

--color-cardbg :			#f7fbfc ;

--color-btn :					#64406b;

/* --color-cardbtn :			#d6cfe1 ; */
--color-cardbtnbg :			#2e2e2e ;


}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}